*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 97, 99);
    width: 100%;
    height: 100vh;
}
.sigup{
    position: relative;
    top: 50px;
    width: 360px;
    height: 510px;
    margin: auto;
    background: #fff;
    border-radius: 1px;
}
h1{
    text-align: center;
}
form{
    width: 100%;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}
form input{
    width: 300px;
    padding: 2px;
    border: none;
    border: 1px solid #000;
    border-radius: 5px;
    outline: none;
}
input[type="submit"]{
    width: 300px;
    height: 35px;
    line-height: 30px;
    border: none;
    background-color: orangered;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
input[type="submit"]:hover{
    background-color: rgb(34, 92, 92);
    color: #fff;
}

p{
    text-align: center;
    line-height: 80px;
}

.login{
    position: relative;
    top: 50px;
    width: 360px;
    height: 380px;
    margin: auto;
    background: #fff;
    border-radius: 1px;
}